.out {
    background-color: #EB2525;
    display: block;
    margin-top: 10px;
}

li {
    list-style: none;
    background-color: rgb(195, 232, 234);
    padding-left: 40px;
    padding-right: 40px;
    margin-left: 30px;
    margin-right: 30px;
    border: 1px solid black;
    float: left;
    box-shadow: 2px 2px 5px #999;
    position: relative;
}

.left > p {
    text-decoration: underline;
}

img {
    width: 200px;
    height: 150px;
    margin-top: 10px;
}

li.selected {
    background-color: rgb(234, 195, 226);
}

.input::-webkit-inner-spin-button, .input::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

:disabled{
    background-color: white;
}

.amount{
    text-align: center;  
}

.buscar{
    padding: auto;

}
button:disabled{
    visibility: hidden;
}